.not-found{
  height: 100vh;
  background-color: $background-color;
  color: $primary-color;

  .not-found-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
      margin:0;
      font-size: 3rem;
    }
    i{
      font-size: 20rem;
      color: $secondary-color;
    }
  }
}