.works{
  background-color: $background-color;
  min-height: 100vh;
  width: 100vw;
  position:relative;

  .works-content{
    padding: 50px;
  }

  &.dark{
    color: $secondary-color-dark;
    background-color: $background-color-dark;
  }

}